<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <title>Challenge Socket.io</title>
        <link rel="stylesheet" type="text/css" href="http://localhost:8000/css/style.css">
    </head>
    <body>

        <div id="wrapper">
            <h1>Challenge POST-IT</h1>
            <a id="newPi" class="new_pi_btn"href="#" title="new Post-it"></a>
            <section>
                <ul id="piList" class="cf">

                </ul>
            </section>
        </div>

        <script type="text/javascript" src="http://localhost:8000/js/jquery.js"></script>
        <script type="text/javascript" src="http://localhost:8000/js/underscore.js"></script>
        <script type="text/javascript" src="http://localhost:8080/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var socket = io.connect('http://localhost:8080');
        </script>


        <script type="text/javascript">
            var socket = io.connect(),
                user = {},
                tpl;

            socket.on('initApp', function (objInit) {
                user.id = objInit.uid;

                console.log(objInit);

                _(objInit.list).each(function (item, i) {
                    $('#piList').append( tpl(item) );
                });
            });
            socket.on('new_pi', function (obj) {
                console.log('new PI', obj.uid, user.id);
                newPI(obj.pi, obj.uid === user.id);
            });
            socket.on('edit_pi', function (obj) {
                StartEditPi(obj.pid, obj.uid === user.id)
            });
            socket.on('test', function (obj) {

            });



            $(function () {
                tpl = _( $('#postItTpl').html() ).template();



                // NEW POST-IT
                $('#newPi').on('click', function (e) {
                    socket.emit('new_pi', {
                        'uid' : user.id
                    });
                    e.stopPropagation();
                });

                // REMOVE POST_IT
                $('#wrapper').on('click', '.remove_btn', function (e) {
                    var $item = $(e.currentTarget).parents('li');

                    if (!$('#wrapper').hasClass('editing') && !$item.hasClass('editing')) {
                        e.stopPropagation();

                        var bool = confirm('Êtes vous sûr de vouloir supprimer ce post-it ?');

                        if (bool) {
                            $item.hide(400, function () {
                                $item.remove();
                            });
                        }
                    }

                    console.log('edit');
                });

                // START EDIT POST-IT
                $('#wrapper').on('click', '.edit_btn', function (e) {
                    var $item = $(e.currentTarget).parents('li');

                    if (!$('#wrapper').hasClass('editing') && !$item.hasClass('editing')) {


                        socket.emit('edit_pi', {
                            'uid' : user.id,
                            'pid' : $item.data('id')
                        });
                        e.stopPropagation();
                    }

                    console.log('edit');
                });

                // STOP EDITING MODE
                $(document.body).on('click', function () {
                    $item = $('.pi_item.editing');

                    if ($item.length) {
                        var title = $item.find('input').val(),
                            desc = $item.find('textarea').val();

                        $item.find('h2').text(title);
                        $item.find('p').text(desc);
                    }
                    $(document.body).find('.editing').removeClass('editing');
                });


                $('#wrapper').on('click', '.pi_item.editing > div', function (e) {
                    e.stopPropagation();
                });
            });



            function newPI (data, isOwner) {
                var $item = $( tpl(data) );
                $item.addClass(isOwner ? 'editing' : 'lock').appendTo('#piList').data(data.id);

                if (isOwner) {
                    $item.find('input').get(0).focus();
                    $('#wrapper').addClass('editing');
                }
            }
            function StartEditPi (id, isOwner) {

                var $item = $('pi' + id),
                    title = $item.find('h2').text(),
                    desc = $item.find('p').text();

                if (isOwner) {
                    $item.find('input').val(title),
                    $item.find('textarea').val(desc);

                    $('#wrapper').addClass('editing');
                    $item.addClass('editing');
                    $item.find('input').get(0).focus();
                }
                else {
                    $item.addClass('lock');
                }
            }



        </script>

        <script id="postItTpl" type="text/template">
            <li id="pi<%= id %>" class="pi_item <%= editor != null ? (editor === user.id ? 'editing' : 'lock') : '' %>">
                <div class="text">
                    <h2><%= title %></h2>
                    <p><%= desc %></p>
                    <a href="#" class="edit_btn" title="Editer"></a>
                    <a href="#" class="remove_btn" title="Supprimer"></a>
                </div>
                <div class="form">
                    <input type="text" value="" placeholder="Titre" />
                    <textarea placeholder="Texte du post-it"></textarea>
                </div>
            </li>
        </script>

    </body>
</html>